@charset "UTF-8";



body{
    background: rgb(0, 0, 0) url(imagens/fundo-madeira.jpg)  center center no-repeat fixed;
    margin: 0;
    background-size: cover;


    

    

    
}

img.iphone{
   

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    

}

div#container{
    text-align: right;
    margin-top: 10px;
    
}

div#container img{
    
    
    width: 50px;
    margin-bottom: 10px;
    margin-right: 8px;

    border-radius: 50%;

    box-shadow: 2px 2px 5px black;

    
    
    
    
    
}

iframe{
    height: 481px;
    width: 270px;

    position: absolute;

    top: 50.9%;
    left: 50%;

    transform: translate(-50%, -50%);
}



a > img:hover{
    
    transform: translate(-6px, -6px);

    transition: transform 0.7s, border 0.1s;

    border: 2px solid rgb(212, 192, 139);
    box-shadow: 5px 5px 10px black;
    

    
    
}


